.leftbar{
  background: #4642BF;
  display: flex;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.leftbar__under{
  height: 60vh;
  padding-top: 10vh;
}

.leftbar{
  width: 200px;
  min-width: 200px;
}