.musicPlayer{
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.80);
  z-index: 1;
  overflow: hidden;
}


// .musicPlayer:before{
//   content: '""';
//   width: 100%;
//   height: 80px;
//   background: inherit; 
//   position: absolute; 
//   bottom: 0;
//   box-shadow: inset 34 34 34 200px rgba(255,255,255,0.3);
//   filter: blur(10px);
// }

.musicPlayer__btns{
  height: 70px;
  width: 170px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.musicPlayer__btns__prev{
  height: 25px;
  width: 25px;
  transform: rotate(180deg);
}

.musicPlayer__btns__next:hover{
  path{ 
    fill: #595BD2;
  }
} 

.musicPlayer__btns__prev:hover{
  path{ 
    fill: #595BD2;
  }
}

.musicPlayer__btns__main:hover{
  path{ 
    fill: #595BD2;
  }
}

.musicPlayer__btns__next{
  height: 25px;
  width: 25px;
}

.musicPlayer__btns__main{
  height: 35px;
  width: 35px;
}

.musicPlayer__pic{
  width: 10%;
  height: 40px;
  width: 40px;
  background-color: rgba(128, 128, 128, 0.185);
  border-radius: 10%;
  margin-left: 6%; 
}

.musicPlayer__volume{
  margin-left: 4%;
  height: 25px;
  width: 25px;
}

.musicPlayer__volume:hover{
  path{ 
    fill: #595BD2;
  }
}

.musicPlayer__text{
  width: 74%;
  display: flex;
  align-items: flex-start;
  margin-left: 4%;
  flex-direction: column;
}

.musicPlayer__text__name{
  font-size: 18px;
  margin-left:  0;
  font-family: sans-serif bold;
}

.musicPlayer__text__author{
  font-size: 15px;
  margin-left:  0;
  font-family: sans-serif;
}

.musicPlayer__card{
  min-width: 200px;
  max-width: 300px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.musicPlayer__duration{
  width: 300px;
  margin-left: 20px; 
  background: rgba(128, 128, 128, 0.185);
  cursor: pointer;
  border-radius: 6%;
  height: 3px;
}

.musicPlayer__duration__handle{
  // width: 9px;
  transition: all 0.1s linear;
  height: 3px;
  background: #595BD2;
}

.musicPlayer__time{
  margin-left: 1%;
  // color: rgba(128, 128, 128, 0.836);
  color: rgb(89, 91, 210);
  font-size: 15px;
}

