.cardMusicText__name{
  height: 20px;
  font-family: sans-serif bold;
  font-size: 18px;
  
}

.cardMusicText__author{
  height: 20px;
  font-family: 14px;
  font-family: sans-serif;
}

.cardMusicText{
  display: flex;
  flex-direction: column;
}