.badge{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  overflow: hidden;
}

.badge__image{
  width: 80px;
  background-color: #FD7360;
  height: 80px;
  border-radius: 50%; 
}

.badge__name{
  color: #ffffff;
  margin-top: 10px;
  opacity: 1s;
  font-size: 19px;
} 