.searchMusic{
  width: 100%;
}

#searchMusic__input{
  font-size: 1em;
  width: 500px;
  max-width: 800px;
  width: 100%;
  height: 30px;
  border: 0px;
  border-bottom: 1px solid #C1BFC4;
  outline: 0px;
}

#searchMusic__input:focus{
  border-bottom-color:#4642BF;
}

