.chart{
  width: 100%;
  color:#ffffff;
  opacity: 0.65;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chart:hover{
  color: white;
}

.chart__wrapper{
  min-height: 60px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 12%;
}

.chart__wrapper:hover{
  width: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.233), rgba(255, 255, 255, 0.056));
  .chart{
    color:#ffffff;
    opacity: 1;
  }
}

.chart__text{
  padding-left:8px;
  font-family: sans-serif;
  
}